#fixed_footer .centered-navigation{
	margin: 0;
}

#wrapper{
	width: 100%;
}

#wrapper #main_header{
	padding: 2px 10px;
}

#forum-content-wrapper{
	margin-left: 210px;
	padding: 4px 10px 40px 10px;
	border: solid 1px #CCCCCC;
	background: #FFFFFF;
	height: 100%;
}

#forum-content-wrapper #bread-crumbs{
	color: #BBBBBB;
	display: inline-block;
	font-size: 10px;
	margin-bottom: 5px;
	font-family: OpenSans-Regular;
}

#forum-content-wrapper h4{
	font-family: OpenSans-Bold;
	font-size: 15px;
	margin-top: 14px;
}

#forum-content-wrapper h5{
	font-family: OpenSans-Bold;
	font-size: 15px;
	float: left;
	margin-bottom: 4px;
}

#forum-content-wrapper .select{
	font-size: 11px;
	color: #555555;
}

#main_section{
	float: none;
	width: auto;
	margin: 0px 10px;
	border: none;
	background: none;
	position: relative;
}

.forum-main-section #main_content{
	padding: 0;
	margin-right: 215px;
}

#forum-right-bar{
	width: 200px;
	height: 600px;
	margin: 0 10px 10px 10px;
	right: 0;
	top: 10px;
	position: absolute;
}

#forum-nav{
	position: absolute;
	right: 0;
	top: -23px;
	list-style: none;
}

#forum-nav li{
	/*
    width: 70px;
    line-height: 22px;
	height: 22px;
	*/
	text-align: center;
	margin: 0px 5px;
	float: left;
	background: #BDC3C7;
	border-top: solid 1px #BDC3C7;
}

#forum-nav li a{
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 20px;
	line-height: 22px;
	font-family: OpenSans-Regular;
}

#forum-nav li:hover{
	background: #C0392B;
	border-top: solid 1px #C0392B;
}

#forum-nav li.current{
	border: solid 1px #CCCCCC;
	border-bottom: solid 2px #FFFFFF;
	background: #FFFFFF;
}

#forum-nav li.current a{
	color: #333333;
	font-family: OpenSans-Bold;
}

.forum-ads .ad-item{
	margin: 0 0 10px 0;
	width: 100%;
	text-align: center;
}

.forumlist{
	/* margin-bottom: 20px; */
	border-collapse: collapse;
	border-top: solid 1px #E4E4E4;
	margin-top: 4px;
	margin-left: -10px;
}

#rightAlignLinks{
	margin-top: 10px;
	margin-right: 171px;
}

.forumlist th{
	padding: 10px 0px;
}

.forumlist th.titles{
	padding-bottom: 5px;
}

.forumlist td{
	padding: 9px 0;
	padding-left: 0px;
	background: #FFFFFF;
}

.forumlist tbody tr:nth-child(even) td{
	background: #F8F8F8;
}

.forumlist .last-tr td{
	border-bottom: none;
	padding-bottom: 30px;
}

.forumlist .td-counts{
	text-align: center;
}

.forumlist td.td-counts{
	color: #666666;
}

.forumlist tbody{
	margin-bottom: 25px;
}

.forumlist tfoot td{
	border: none;
}

.forumlist td .poster-icon{
	float: left;
	width: 30px;
	margin-right: 8px;
}

.forumlist .post-votes a.thumb-up,
.forumlist .post-votes a.thumb-down,
.forumlist .post-votes span.reply-votes{
	float: left;
}

.forumlist .post-votes{
	width: 45px;
}

.forumlist .icon-column{
	/*    width: 60px;*/
	padding-right: 11px;
}

.forumlist .icon-column img{
	width: 50px;
	margin: 0;
}

.forumlist .icon-column img.topic-icon{
	width: 60px;
}

/* Main content */
.forumlist .post-content{
	font-size: 11px;
	font-family: Roboto-Regular;
	color: #999999;
}

/* Topic title */
.forumlist .post-title{
	font-size: 15px;
	font-family: OpenSans-Semibold, Roboto-Medium;
	line-height: 1;
	display: inline-block;
	padding-bottom: 1px;
}

/* Username link */
.forumlist .poster-name{
	color: #999999;
}

/* Category link */
.forumlist .category-name{
	color: #2980B9;
}

/* Category link */
.forumlist .postdate, .forumlist .post-replies{
	font-size: 11px;
	color: #999999;
	font-family: Roboto-Medium;
	/*
	display: inline-block;
	padding-top: 1px;
	*/
}

.forumentry{
	margin-bottom: 50px;
}

.forumentry td.label{
	text-align: right;
	width: 100px;
}

.forumentry .textarea{
	/*
    resize: none;
    width: 65%;
	*/
}

#topic-sort{
	float: right;
	margin-top: 4px;
	font-size: 11px;
	color: #555555;
}

.postentry{
	border-collapse: collapse;
}

.postentry th{
	padding-bottom: 5px;
	border-bottom: solid 1px #CCCCCC;
}

.postentry th .titles.left{
	float: left;
}

.postentry th .right{
	float: right;
}

.postentry td{
	padding: 12px 0;
	vertical-align: top;
}

.postentry td.replies-header{
	padding: 32px 0px 0px 0px;
	/* border-top: solid 1px #e4e4e4; */
}

.postentry ul,
.postentry ol{
	/* padding-left: 15px; */
}

.postentry ul li{
	list-style: disc;
	margin-left: 20px;
}

.postentry ol li{
	list-style: decimal;
	margin-left: 20px;
}

.postentry{
}

.postentry .profileIcon{
	/* width: 60px; */
	width: 125px;
	margin-right: 10px;
}

.postentry td h2{
	margin: 0px 0px 5px 10px;
}

.post-sort-nav{
	float: right;
	margin-top: 7px;
	font-size: 11px;
	color: #555555;
}

.post-sort-nav a.current{
	color: #C0392B;
	font-weight: bold;
}

.postentry .post-content{
	/* padding-left: 10px; */
	padding-right: 30px;
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* css-3 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	/* word-break: break-all; */
	white-space: normal;
	font: 12px/1.4 Arial, Helvetica, sans-serif;
	position: relative;
}

.postentry .post-content img{
	max-width: 100%;
/ }

.postentry .btn-td{
	border-top: solid 1px #CCCCCC;
}

.postentry .btn-td .paginate{
	float: right;
}

.postentry .btn-td .paginate span.label{
	display: none;
}

.postentry td.post-createddate{
	min-width: 125px;
	text-align: center;
}

.post-votes{
	position: relative;
}

.post-votes span.reply-votes{
	float: right;
	margin-left: 10px;
	line-height: 16px;
	color: #666666;
	position: relative;
	min-width: 15px;
	font-family: 'OpenSans-CondBold', sans-serif;
	font-size: 17px;
	font-weight: normal;
}

.post-votes a.thumb-up{
	font-family: 'OpenSans-CondBold', sans-serif;
	font-size: 17px;
	font-weight: normal;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #FFFFFF;
	background: #BDC3C7;
	text-indent: 0;
	border-radius: 5px;
	text-decoration: none;
	margin: 0 15px;
}

.votedStatus1 a.thumb-up,
.post-votes a.thumb-up:hover{
	background: #27AE60;
}

/*.postentry td.voted a.thumb-up:hover,
.postentry td.voted a.thumb-down:hover{
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    filter: alpha(opacity=50);    
}*/

.post-votes .loading-wrapper{
	height: 15px;
	width: 34px;
	left: 12px;
	top: 0;
	background: url(/images/loading1.gif) no-repeat center;
}

#main_section pre.prettyprint{
	padding: 5px;
	width: 80%;
	margin: 5px 0px;
}

.postentry .reply-tr{
	border-top: solid 1px #E4E4E4;
}

.postentry .reply-tr td{
}

.post-votes .report-link{
	float: right;
	margin: 5px 2px 5px 0;
}

.post-votes p.message{
	clear: both;
	float: right;
}

#breadcrumbs{
	padding-bottom: 5px;
}

.topic-edit-btn-cont{
	padding-top: 15px;
	padding-bottom: 5px;
}

.topic-edit-btn-cont a{
	/* font-weight: bold; */
}

.postdate{
	color: #999999;
}

.left{
	float: left;
}

.forum-ads .usamaroom-ad-banner{
	float: left;
}

.usama-bbcode-content{
	max-width: 1300px;
}

.usama-bbcode-content code:before{
	/*position: absolute;
	content: 'Code:';
	top: -1.35em;
	left: 0;*/
}

.usama-bbcode-content code{
	margin-top: 10px;
	position: relative;
	/*    background: #eee;*/
	border: 1px solid #AAAAAA;
	white-space: pre;
	/*    padding: .25em;*/
	display: block;
}

.ie6 .usama-bbcode-content code, .ie7 .usama-bbcode-content code{ margin-top: 0; }

.usama-bbcode-content code:before, .usama-bbcode-content code{
	display: block;
	text-align: left;
	/* improvement for lower resolution */
	max-height: 400px;
	max-width: 755px;
	overflow: auto;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;
}

.usama-bbcode-content blockquote{
	position: relative;
	background: #EFEFEF;
	margin-top: 10px;
	color: #555555;
	font-style: italic;
	border: 1px solid #CCCCCC;
	padding: 5px;
	width: 90%;
}

.usama-bbcode-content blockquote cite{
	font-weight: bold;
	display: block;
	font-size: 1em;
	border-bottom: 1px solid #AAAAAA;
}

.usama-bbcode-content > table{
	border-collapse: collapse;
	width: initial;
	margin-top: 10px;
}

.usama-bbcode-content > table > tbody > tr > td{
	border: 1px solid #CCCCCC;
	empty-cells: show;
	border-collapse: collapse;
	min-width: 10px;
	padding: 5px;
	margin: 10px 5px 10px 0px;
}

.usama-bbcode-content ol > br,
.usama-bbcode-content ul > br{
	display: none;
}

/*** Left Menu bar ***/
#forum-left-bar{
	width: 200px;
	padding: 5px 0;
	color: #FFFFFF;
	float: left;
	font-family: OpenSans-Regular;
	font-size: 11px;
	background: url(../images/forum/menu-bg.png);
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

#forum-left-bar .user-thumbnail{
	padding: 0 10px;
}

#forum-left-bar .user-thumbnail img{
	max-width: 100%;
}

/* Levels */
#forum-left-bar .progress_container{
	height: 7px;
	width: 180px;
	margin: 5px 10px 0px;
}

#forum-left-bar .progress_container_bg{
	height: 5px;
	background: #EDEDED;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#forum-left-bar .progress_bar{
	float: left;
	background: #00AA00;
	border-top: 1px solid #16A085;
	height: 4px;
	border-bottom: none;
}

#forum-left-bar table{
	width: 180px;
	margin-left: 10px;
}

#forum-left-bar table td{
	padding: 0;
}

#forum-left-bar table td.level{
	font-family: OpenSans-Bold;
	font-size: 15px;
}

#forum-left-bar table td.points{
	color: #BBBBBB;
	font-family: Roboto-Regular;
	text-align: right;
}

#forum-left-bar .titles{
	color: #FFFFFF;
	padding-left: 10px;
	margin-bottom: 3px;
}

#forum-left-bar #loginform{
	padding: 2px 10px;
}

#forum-left-bar #loginform .input{
	width: 150px;
	margin-bottom: 8px;
}

#forum-left-bar dl{
	color: #666666;
	margin: 18px 0 0;
}

#forum-left-bar dt{
	padding: 2px 10px;
}

#forum-left-bar dd{
	position: relative;
}

#forum-left-bar dd a{
	display: block;
	line-height: 18px;
	padding: 2px 10px;
	text-decoration: none !important;
	color: #E6E6E6;
}

#forum-left-bar dd a:hover{
	background: rgba(255, 255, 255, 0.1);
}

#forum-left-bar dd a.current{
	background: rgba(255, 255, 255, 0.1);
}

.menu-item-divider{
	height: 1px;
	background-color: rgba(0, 0, 0, 0.15);
	border-bottom: solid 1px rgba(255, 255, 255, 0.07);
}

.forum-info h2.titles{
	line-height: 18px;
	margin-bottom: 3px;
}

.forum-info .forum-logo{
	width: 100%;
}

.forum-info p.description{
	font-family: Roboto-Regular;
}

.forum-info p.links{
	font-family: Roboto-Regular;
}

.forum-info .followers{
	font-family: RobotoCondensed-Regular;
	font-size: 16px;
	font-weight: normal;
	margin: 10px 0px;
	text-align: center;
}

a.forum-action-button,
.forum-action-button{
	background: #34495E;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	font-family: 'OpenSans-CondBold', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	text-align: center;
	border-radius: 5px;
	margin: 10px 0;
	border: none;
	padding: 0 30px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: background 0.1s;
	-webkit-transition: background 0.1s;
}

a.forum-action-button-inactive,
.forum-action-button-inactive{
	background: #CCCCCC;
}

a.forum-action-button:hover,
.forum-action-button:hover,
a.forum-action-button-inactive:hover,
.forum-action-button-inactive:hover{
	background: #C0392B;
}

.forum-info h3{
	font-style: 15px;
}

.forum-info form{
	padding: 0;
}

.forum-info .input{
	width: 95%;
}

.postentry .post-content .usama-bbcode-content{
	color: #666666;
	font-size: 12px;
	width: 80%;
}

.post-reply-btm td{
	/* background: transparent !important; */
	border-bottom: solid 1px #E4E4E4;
}

.post-reply-btm .paginate{
	float: right;
}

.post-reply-btm .paginate .label{
	margin-right: 20px;
}

#reply-content{
	width: 70%;
}

a.edit-link{
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
}

#editforumform td.label{
	vertical-align: top;
	padding-top: 5px;
}

#editforumform .link-row{
	margin-bottom: 10px;
}

#editforumform .link_title{
	width: 250px;
	margin-right: 10px;
}

#editforumform .add-link{
	display: inline-block;
	font-weight: bold;
	padding: 2px 3px 5px
}

#editforumform .remove-link{
	color: #C0392B;
	font-size: 11px;
	margin-left: 10px;
}

#preview-photo-row{
	border: solid 1px #CCCCCC;
	width: 120px;
	height: 120px;
	padding: 18px 15px;
	position: relative;
	margin-bottom: 15px;
	text-align: left;
}

#editforumform td.grey-tip{
	font-size: 11px;
	color: #999999;
	font-family: OpenSans-Regular;
	padding: 0px 3px 5px;
	max-width: 720px;
	display: block;
}

.cancel-photo{
	background: url('/images/uploadify-cancel.png') 0 0 no-repeat;
	position: absolute;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
	top: 2px;
	right: 2px;
}

#preview-photo-row img{
	max-width: 100%;
	max-height: 100%;
}

#preview-photo-row .has-cropped-img{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

#preview-photo-row .has-cropped-img img{
	max-width: none;
	max-height: none;
	position: absolute;
}

#jcrop-row-wrapper{
	width: 543px;
}

.hide #file_upload{
	left: -9999px !important;
	height: 0 !important;
}

.search-wrap{
	border: solid 1px #E3E3E3;
	background: #F0F0F0;
	padding: 10px;
	margin: 5px 10px 25px 0px;
}

#main_content .search-wrap form{
	padding-right: 50px;
	position: relative;
}

.search-wrap form .input{
	width: 98%;
	border: 1px solid #E3E3E3;
}

.search-wrap form .redButton{
	position: absolute;
	right: 0;
	top: -3px;
	padding: 5px;
}

.category-content p{
	color: #777777;
	font-family: Roboto-Regular;
}

.category-content a.category-title{
	font-size: 15px;
	font-family: OpenSans-Semibold;
	line-height: 1;
	display: inline-block;
	padding-bottom: 2px;
}

#forum-right-bar .forum-action-button{
	padding: 0;
}

.report-link{
	position: absolute;
	right: 10px;
	top: 10px;
}

.moderate-list{
}

.moderate-list td{
	padding: 5px 0;
	padding-left: 0px;
	background: #FFFFFF;
}

.moderate-list tbody tr:nth-child(even) td{
	background: #F8F8F8;
}

.moderate-list td .user-icon{
	width: 35px;
}

.moderate-list td .user-name{
	margin-left: 10px;
	line-height: 35px;
}

.moderate-list td .post-date{
	color: #999999;
}

.divider{
	border-bottom: solid 1px #CCCCCC;
	padding-top: 10px;
	margin-bottom: 10px;
}

.forum-info .moderators td{
	vertical-align: middle;
}

.forum-info .moderators .poster-icon{
	width: 35px;
}

.forum-info .moderators td span{
	color: #999999;
	font-size: 11px;
}

.forum-info a.remove-moderator{
	font-size: 11px;
	color: #C0392B;
}

.reported-items{
	position: absolute;
	padding: 0px 5px;
	background: #C0392B;
	color: #FFFFFF;
	border-radius: 5px;
	right: 7px;
	top: 2px;
	line-height: 18px;
}

#forum-content-wrapper .addthis_sharing_toolbox{
	float: right;
	margin: 5px 10px 1px;
}

a.block-link{
	color: #999999;
}

.actions-span{
	position: absolute;
	right: 10px;
	top: 10px;
	white-space: nowrap;
	font-size: 11px;
}

.actions-span .report-link{
	position: static;
	float: none;
}

#blocked_users{
	width: 300px;
}

/* For Pending Topics and Replies */
.pending-items{
	border-collapse: collapse;
	border-top: solid 1px #E4E4E4;
	margin-top: 4px;
	margin-left: -10px;
	font-size: 11px;
}

.pending-items tr{
	vertical-align: top;
}

.pending-items th{
	padding: 8px 10px 2px;
}

.pending-items th.no-shrink{
	min-width: 100px;
}

.pending-items td{
	padding: 8px 10px;
	background: #FFFFFF;
}

.pending-items tbody tr:nth-child(even) td{
	background: #F8F8F8;
}